/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1d1d1e;
}
.name{
  margin-top: 30px;
}
/* Container styles */
.app-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 40px;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
}

/* Left panel */
.left-panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: 30px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-panel h3 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.actor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #333;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actor-card:hover {
  transform: scale(1.05);
}

.actor-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.actor-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}

.view-movie-btn {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-movie-btn:hover {
  background-color: #ff4b3a;
}

/* Right panel */
.right-panel {
  flex: 2;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.right-panel h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.movies-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.movie-card {
  background-color: #f4f4f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.movie-card p {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    padding: 20px;
  }

  .left-panel, .right-panel {
    flex: 1;
    margin-bottom: 20px;
  }
}
